html {
  font-size: $font-size;

}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1 {
}

h2 {
}

h3 {
}

section {
}
