.main {
  @extend %margin-bottom-lg;
}

.new-films {
  position: relative;
  overflow: hidden;

  &-row {
    margin-right: -$gap-sm;
    margin-left: -$gap-sm;
    margin-bottom: -$gap;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;

    &__caption {
      text-align: center;
    }

    &__title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }

    &__thumbnail {
      margin-bottom: 0;
    }
  }

}

.new-films-top, .film-describe, .film-review, .film-comment {
  position: relative;
  overflow: hidden;
}

.film-news {
  position: relative;
  overflow: hidden;

  &-item {
    .thumbnail {
      margin-bottom: 0;
    }

    &__link {
      transition: color 0.25s;
    }

    &__thumbnail {
    }

    &__image {
      width: 100%;
    }

    &__text {
      text-align: justify;
    }

    &-button {
      float: right;
      margin-bottom: 30px;
    }

  }

}

.film-comment-btn {
  float: right;
}
